# Dependency directories
/node_modules

# Output directories
/dist

# Editor directories and files
/.vscode
/.idea
/.vs
/.nyc_output
/.cache
/.sass-cache

# Build process files
npm-debug.log*

# Dependency files
package-lock.json